
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(./img/Poker\ table.jpeg);
    background-size: cover;
    color: white;
    font-weight: bold;
    display: block;
    text-align: center;


}



h1 {
    color: #daa520;
}


#message-el {
    font-style: italic;

}

.btn {
    background: #daa520;
    width: 150px;
    font-size: large;
    font-weight: bold;
    color: #016f32;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: none;
    margin-top: 2px;
    margin-bottom: 2px;

}